[Unit]
Description=Reverse SSH proxy via rsp.d20robotics.com
After=network.target

[Service]
User=autossh
# -p [PORT]
# -l [user]
# -M 0 --> no monitoring
# -N Just open the connection and do nothing (not interactive)
# LOCALPORT:IP_ON_EXAMPLE_COM:PORT_ON_EXAMPLE_COM
ExecStart=/usr/bin/autossh -M 0 -N -q -o "ServerAliveInterval 60" -o "ServerAliveCountMax 3" -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -p 22 -l autossh rsp.d20robotics.com -R 92xx:localhost:22 -i /home/autossh/.ssh/id_ed25519
Restart=on-abort

[Install]
WantedBy=multi-user.target
